/* 网页样式reset */
img{
	vertical-align: bottom;
}
li{
	list-style: none;	/*清楚li的列表符号*/
}
a{
	text-decoration: none;		/*清除a链接自带的下划线*/
	color: #000;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
input,select,button{
	outline: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.mt {
	margin-top: 20px;
}
.clearfix::after{
	content: '';
	display: block;
	width: 0;
	height: 0;
	visibility:hidden;
	clear: both;
}
$font-size-base : 12px;